.header__logo {
  max-width: 142px;
  margin-bottom: 35px;
}

@media (max-width: 950px) {
  .header__logo {
    margin-left: 50px;
    margin-bottom: 31px;
  }
}

@media (max-width: 590px) {
  .header__logo {
    max-width: 104px;
    margin-left: 27px;
  }
}